<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.syizuril.app.mastsee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SettingReminderActivity"></activity>
        <activity android:name=".view.DetailActivityTv" />
        <activity android:name=".view.DetailActivity" />
        <activity
            android:name=".view.SeeMoreActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.MovieContentProvider"
            android:authorities="id.syizuril.app.mastsee.provider.MovieContentProvider"
            android:exported="true"
            android:permission="id.syizuril.app.mastsee.provider.READ_MOVIE" />
        <provider
            android:name=".provider.TvContentProvider"
            android:authorities="id.syizuril.app.mastsee.provider.TvContentProvider"
            android:exported="true"
            android:permission="id.syizuril.app.mastsee.provider.READ_TV" />

        <receiver android:name=".widgets.TvFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tv_favorite_widget_info" />
        </receiver>
        <receiver android:name=".widgets.MovieFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_favorite_widget_info" />
        </receiver>

        <receiver android:name=".services.DailyReminderReceiver"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".services.DailyReleaseReceiver"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".services.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".services.TvStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
    <permission android:name="id.syizuril.app.mastsee.provider.READ_TV" />

    <permission android:name="id.syizuril.app.mastsee.provider.READ_MOVIE" />
    <uses-permission android:name="id.syizuril.app.mastsee.provider.READ_MOVIE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>